{
  "id": "oauth2:v1",
  "resources": {},
  "mtlsRootUrl": "https://oauth2.mtls.googleapis.com/",
  "revision": "20230729",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "canonicalName": "OAuth2",
  "basePath": "",
  "name": "oauth2",
  "documentationLink": "https://developers.google.com/identity/protocols/oauth2/",
  "description": "OAuth2 API",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "version": "v1",
  "schemas": {},
  "batchPath": "batch",
  "rootUrl": "https://oauth2.googleapis.com/",
  "title": "OAuth2",
  "baseUrl": "https://oauth2.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": ["json", "media", "proto"],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": ["v1 error format", "v2 error format"],
      "location": "query",
      "enum": ["1", "2"],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest"
}
